.profile-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  padding: 6px 10px;
  background-color: inherit;
  color: #fff;
  border: none;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  text-align: center;
  gap: 7px;
}

.profile-button:hover {
  opacity: .8;
}

.profile-button_place_navigation-menu {
  margin-bottom: 90px;
}
.profile-button__profile-icon {
  max-height: 14px;
}

@media (max-width: 590px) {
  .profile-button_place_navigation-menu {
    margin-bottom: 46px;
  }
}