.profile-page {
  max-width: 410px;
  margin: 0px auto;
  padding-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page__title {
  margin: 0px 0px 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile-page__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.profile-page__input-container {
  position: relative;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile-page__input-container:nth-child(2) {
  margin: 17px 0px 220px;
  padding: 0px;
  border: none;
}

.profile-page__input-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
}

.profile-page__input {
  width: 80%;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.profile-page__input:hover {
  opacity: 0.8;
}

.profile-page__input_type_error {
  color: #ee3465;
}

.profile-page__error-message {
  display: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  position: absolute;
  top: 14px;
  right: 0px;
  text-align: end;
}

.profile-page__error-message_visible {
  display: block;
}

.profile-page__submit-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.profile-page__submit-button_disabled {
  color: #8b8b8b;
  cursor: default;
  pointer-events: none;
}

.profile-page__submit-button:hover {
  opacity: 0.8;
}

.profile-page__logout-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: #ee3465;
  cursor: pointer;
  margin-bottom: 70px;
}

.profile-page__logout-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .profile-page {
    padding-top: 236px;
  }
  .profile-page__title {
    margin-bottom: 96px;
  }
  .profile-page__input-container:nth-child(2) {
    margin-bottom: 210px;
  }
  .profile-page__logout-button {
    margin-bottom: 269px;
  }
}
@media (max-width: 470px) {
  .profile-page {
    margin: 0px 30px;
    padding-top: 70px;
  }
  .profile-page__title {
    margin-bottom: 80px;
  }
  .profile-page__input-container:nth-child(2) {
    margin-bottom: 379px;
  }
  .profile-page__submit-button {
    font-size: 12px;
    line-height: 15px;
  }
  .profile-page__logout-button {
    margin-bottom: 40px;
  }
}
