.not-found-page {
  padding-top: 246px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-page__error-code {
  margin: 0px 0px 5px;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found-page__message {
  margin: 0px 0px 184px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.not-found-page__go-back-button {
  margin: 0px 0px 60px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: #4285f4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.not-found-page__go-back-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .not-found-page {
    padding-top: 408px;
  }
  .not-found-page__go-back-button {
    margin-bottom: 222px;
  }
}
@media (max-width: 450px) {
  .not-found-page {
    padding-top: 329px;
  }
  .not-found-page__error-code {
    margin-bottom: 10px;
    font-size: 80px;
    line-height: 97px;
  }
  .not-found-page__message {
    margin-bottom: 284px;
    font-size: 12px;
    line-height: 15px;
  }
  .not-found-page__go-back-button {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 15px;
  }
}
