.portfolio {
  max-width: 1140px;
  margin: 0px auto 204px;
}

.portfolio__tab-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  margin: 0px auto 50px;
}

.portfolio__links-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.portfolio__links-list-item {
  border-bottom: 1px solid #424242;
  margin-bottom: 20px;
}

.portfolio__links-list-item:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.portfolio__link:hover {
  opacity: .8;
}

.portfolio__arrow {
  width: 18px;
  height: 17px;
}

@media (max-width: 1240px) {
  .portfolio {
    margin: 0px 50px 169px;
  }
  .portfolio__link {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .portfolio {
    margin: 0px 14px 149px;
  }
  .portfolio__tab-title {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}