.promo {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px 0px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 169px;
  align-items: center;
}

.promo__container {
  background-color: #272727;
  width: 100%;
  padding: 142px 0px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 169px;
  align-items: center;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  max-width: 730px;
  margin: 0px;
  align-items: center;
  text-align: center;
}
