.search-form {
  max-width: 1140px;
  margin: 0px auto 119px;
  padding-top: 70px;
}

.search-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.search-form__film-name {
  width: 100%;
  border: none;
  border-bottom: 1px solid #424242;
  margin: 0px;
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-form__short-film {
  border: none;
  margin: 0;
  padding: 0;
}

.search-form__search-icon {
  min-width: 32px;
  min-height: 32px;
  background-image: url(../../images/search-form__search-icon.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  border: 1px solid #424242;
  border-radius: 48px;
  margin-left: 6px;
}

.search-form__film-name-input {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0px;
  outline: none;
  text-align: center;
  background-color: inherit;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #8b8b8b;
}

.search-form__film-name-input:hover {
  opacity: .8;
}

.search-form__submit-button {
  border: none;
  border-radius: 48px;
  cursor: pointer;
  padding: 0px;
  min-width: 80px;
  min-height: 34px;
  background-image: url(../../images/search-form__search-icon.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  background-color: #4285f4;
}

.search-form__submit-button:hover {
  opacity: .8;
}

@media (max-width: 1200px) {
  .search-form {
    margin: 0px 30px 132px;
    padding-top: 86px;
  }
}
@media (max-width: 600px) {
  .search-form {
    padding-top: 92px;
    margin-bottom: 91px;
  }
  .search-form__form {
    gap: 42px;
  }
  .search-form__search-icon {
    display: none;
  }
  .search-form__film-name-input {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
  .search-form__film-name {
    padding-bottom: 9px;
  }
}
@media (max-width: 320px) {
  .search-form {
    margin: 0px 14px 90px;
    padding-top: 98px;
  }
}
