.header {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 18px;
  padding: 18px 0px 0px;
}

.header__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link:first-child {
  font-weight: 500;
}

.header__nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.header__nav-container_place_main-page {
  gap: 30px;
}

.header__links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 0px;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.header__button:hover {
  opacity: 0.8;
}

.header__button_name_login {
  border-radius: 3px;
  background-color: #3ddc84;
  padding: 8px 20px;
  color: #000;
}

.header__menu-button {
  min-width: 28px;
  min-height: 23px;
  display: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/header__menu-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.header__menu-button:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .header {
    margin: 0px 30px 18px;
  }
}

@media (max-width: 768px) {
  .header__menu-button {
    display: block;
  }
  .header__nav-container {
    display: none;
  }
  .header__nav-container_place_main-page {
    display: flex;
  }
}

@media (max-width: 320px) {
  .header {
    margin: 0px 14px 18px;
  }
  .header__nav-container_place_main-page {
    gap: 14px;
  }
  .header__link {
    font-size: 10px;
  }
  .header__button_name_login {
    padding: 5px 12px;
    font-size: 10px;
  }
}
