.footer {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__message {
  margin: 0px 0px 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8b8b8b;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #424242;
  padding: 20px 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyright {
  margin: 0;
}

.footer__links-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
