.techs {
  max-width: 1280px;
  margin: 0px auto;
  padding: 100px 0px 0px;
  background-color: #272727;
}

.techs__container {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.techs__title {
  align-self: center;
  padding: 90px 0px 0px;
  margin: 0px 0px 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.techs__text {
  align-self: center;
  max-width: 460px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin: 0px 0px 100px;
}

.techs__technologies-list {
  align-self: center;
  list-style: none;
  margin: 0px 0px 100px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  grid-template-rows: repeat(1, 60px);
  column-gap: 10px;
}

.techs__technologies-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  background: #303030;
  border-radius: 10px;
}
