.movies-cards {
  max-width: 1140px;
  min-height: 175px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-cards__result-block {
  margin: 0px 0px 80px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(1, 218px);
  grid-auto-rows: 218px;
  row-gap: 32px;
  column-gap: 20px;
  justify-content: center;
  display: none;
}
.movies-cards__result-block_visible {
  display: grid;
}

.movies-cards__result-block-item {
  list-style: none;
  background: #222222;
  border-radius: 10px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.movies-cards__error-message {
  width: 100%;
  margin: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.movies-cards__more-movies-card-button {
  min-width: 320px;
  min-height: 36px;
  margin: 0px 0px 159px;
  padding: 0px;
  border: 1px solid #424242;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.movies-cards__more-movies-card-button_visible {
  display: block;
}

.movies-cards__more-movies-card-button:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .movies-cards {
    margin: 0px 30px;
  }
  .movies-cards__result-block {
    grid-template-columns: repeat(3, 339px);
    grid-template-rows: repeat(1, 257px);
    grid-auto-rows: 257px;
  }
}
@media (max-width: 1117px) {
  .movies-cards__result-block {
    grid-template-columns: repeat(2, 339px);
    row-gap: 36px;
    column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .movies-cards__result-block {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(1, 235px);
    grid-auto-rows: 235px;
  }
}
@media (max-width: 690px) {
  .movies-cards__result-block {
    grid-template-columns: repeat(1, 300px);
    column-gap: 0px;
    row-gap: 20px;
  }
}
@media (max-width: 600px) {
  .movies-cards {
    min-height: 204px;
  }
  .movies-cards__error-message {
    font-size: 15px;
    line-height: 17px;
  }
}
@media (max-width: 380px) {
  .movies-cards__more-movies-card-button {
    min-width: 240px;
  }
}
@media (max-width: 360px) {
  .movies-cards {
    margin: 0px auto;
  }
  .movies-cards__error-message {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .movies-cards {
    margin: 0px 10px;
    min-height: 123px;
  }
}
