.about-me {
  max-width: 1140px;
  margin: 0px auto 100px;
  padding: 110px 0px 0px;
}

.about-me__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__name {
  margin: 0px 0px 18px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__profession {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0px 0px 26px;
}

.about-me__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0px 0px 99px;
}

.about-me__github-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__github-link:hover {
  opacity: 0.8;
}

.about-me__img {
  border-radius: 10px;
  min-width: 270px;
  max-height: 327px;
  object-fit: cover;
}

@media (max-width: 1240px) {
  .about-me {
    margin: 0px 50px 90px;
    padding-top: 90px;
  }
  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__profession {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}
@media (max-width: 1000px) {
  .about-me__text-container {
    max-width: 364px;
  }
  .about-me__img {
    min-width: 255px;
    max-height: 307px;
  }
}
@media (max-width: 748px) {
  .about-me {
    margin: 0px 50px 70px;
    padding-top: 70px;
  }
  .about-me__text-container {
    max-width: 225px;
  }
}
@media (max-width: 600px) {
  .about-me {
    margin: 0px 14px 70px;
  }
  .about-me__container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 60px;
  }
  .about-me__img {
    min-width: 292px;
    max-height: 352px;
    margin-bottom: 40px;
  }
  .about-me__text-container {
    max-width: 292px;
  }
  .about-me__name {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__profession {
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
}
